  <div class="dir-search__entry" 
  {% if 'Superintendent' in person.position %}style="background-color:#f2f2f2"
  {% elseif 'Chief' in person.position %}style="background-color:#f2f2f2"
  {% elseif 'Acting Performance, Equity, and Community Response Director' in person.position %}style="background-color:#ffffff"
  {% elseif 'Director' in person.position %}style="background-color:#f2f2f2"    
  {% elseif 'Data Coordinator' in person.position %}style="background-color:#FFFFF"
  {% elseif 'Strategic Alignment and Analytics Coordinator' in person.position %}style="background-color:#FFFFF"    
  {% elseif 'Process Development Coordinator' in person.position %}style="background-color:#FFFFF"
  {% elseif 'Coordinator' in person.position %}style="background-color:#f2f2f2"
  {% elseif 'Food Service Satellite Manager' in person.position %}style="background-color:#FFFFFF"
  {% elseif 'Project Support Manager' in person.position %}style="background-color:#FFFFFF"
  {% elseif 'Manager - Implementation & Assessment' in person.position %}style="background-color:#ffffff"    
  {% elseif 'Project Manager' in person.position %}style="background-color:#FFFFF"    
  {% elseif 'Project Manager/Assistant' in person.position %}style="background-color:#FFFFF"
  {% elseif 'Business Office' in person.position %}style="background-color:#FFFFF"
  {% elseif 'Architect' in person.position %}style="background-color:#FFFFF"
  {% elseif 'Business Systems Manager' in person.position %}style="background-color:#FFFFF"
  {% elseif 'IEQ Manager' in person.position %}style="background-color:#FFFFF"
  {% elseif 'Grant/Project Manager' in person.position %}style="background-color:#FFFFF"
  {% elseif 'Construction Program Manager' in person.position %}style="background-color:#FFFFFF"
  {% elseif 'Manager - Design and Preconstruction Services' in person.position %}style="background-color:#FFFFFF"    
  {% elseif 'Manager, Television and Video Production' in person.position %}style="background-color:#FFFFF"    
  {% elseif 'Manager' in person.position %}style="background-color:#f2f2f2"
  {% elseif 'General Counsel' in person.position %}style="background-color:#f2f2f2"
  {% elseif 'Management Officer' in person.position %}style="background-color:#f2f2f2"
  {% elseif 'Medicaid/Autism Waiver - Program Head' in person.position %}style="background-color:#FFFFFF"    
  {% elseif 'Program Head' in person.position %}style="background-color:#f2f2f2"
  {% elseif 'Instructional Facilitator' in person.position %}style="background-color:#f2f2f2"    
  {% endif %}>
    <div class="dir-search__entry--name">
      <h3><strong>{{ person.firstName }} {{ person.lastName }}</strong></h3>
    </div>
    <div class="dir-search__entry--contact">
      <p><a href={% if department.name is defined %}"./{{ person.department.slug }}"{% else %}"directory/department/{{ person.department.slug }}"{% endif %}>{{ person.department.name }}</a></p>

      <p><strong>Position:</strong> {{ person.position }}</p>
      {% if person.email != null %}
        <p><strong>Email:</strong> <a href="mailto:{{ person.email }}">{{ person.email }}</a></p>
      {% endif %}

      {% if person.phone != null %}
        <p><strong>Phone:</strong> {{ person.phone }}</p>
      {% endif %}

      {{ include('default/location-data.html.twig', {'a': person}) }}
    </div>
  </div>