{% form_theme form 'form/submit.html.twig' %}

{{ form_start(form, {
    'attr': {'class': 'contents dir-search smtb-mg'}
}) }}

<div class="contents dir-search__name--input">
    <div class="search-field">            
        {{ form_label(form.domain, 'Search for:', {
            'label_attr': {
                'class': 'search-toggle-label',
                'style': 'font-weight: bold',
            }
        }) }}
    </div>
    <div class="search-field" style="margin-right:1em;">    
        {{ form_widget(form.domain) }}                
    </div>
    
    <div class="search-field">
        {{ form_label(form.term, 'Search:', {
            'label_attr': {'style': 'font-weight: bold'}
        }) }}
    </div>
    
    {{ form_widget(form.term) }}
    
    <div class="search-field">
        {{ form_widget(form.search, {
            'attr': {
                'style': 'height:30px;background-color:#FECC6A;color:black;border-radius:5px;',
            }
        }) }}
    </div>
</div>       

{{ form_end(form) }}
